{{#extend "default"}}
  {{#content "main"}}

  <!-- =========================
   SECTION: Naturapraxis
  ============================== -->
  <section class="naturapraxis bgcolor-3" id="section1">

    <div class="container">
      <div class="row">

        <!-- FEATURED IMAGE AREA -->
        <div class="col-lg-6 visible-lg">

          <div class="featured-image red-gradient-overlay">
            <img src="images/naturapraxis.jpg" alt="logo">
            <!-- ABOUT US FEATURED IMAGE -->
            <div class="image-border"></div>
          </div>

        </div>

        <!-- ABOUT US BOX -->
        <div class="col-lg-7 col-sm-12 overflow-box">

          <div class="naturapraxis-box diffuse-shadow wow fadeInRight" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
            <div class="naturapraxis-content">
  
              <!-- SECTION HEADING -->
              <h2 class="section-heading text-left">Naturapraxis</h2>
              
              <!-- PARAGRAPH -->
              <p class="text-left">
              Es ist mir ein Anliegen, dass es ein miteinander Arbeiten an Ihrer Gesundheit ist, resourcen & lösungsorientiert.<br/>Zusammen bestimmen wir den Weg um ihr gewünschtes Ziel zu erreichen.<br/><br/>Aus meinem breitem Wissen, aus der Schul- / Alternativmedizin und naturheilkundlichen Bereichen ist es mir eine Freude Sie zu begleiten, damit Ihr Körper, Geist und Seele wieder harmonieren.
              </p>
            </div>
              
            <div class="four-lines">
              <div class="line dark-purple-line-bottom"></div>
              <div class="line purple-line-bottom"></div>
              <div class="line dark-pink-line-bottom"></div>
              <div class="line pink-line-bottom"></div>
            </div>
              
          </div>
        </div>
      </div>
    </div>
  </section>
  <p>
    {{{contents}}}
  </p>

  {{/content}}
{{/extend}}
